.sidebar  {
    background-color:  rgb(180, 180, 180);
    color: white;
    width: 20%;
    height: 100%;

}

.sidebar ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    cursor: pointer;
    padding: 10px;
}